/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --red-color-1: #FFACA5;
  --red-color-2: #FF796F;
  --red-color-3: #FF5245;
  --red-color-4: #EC1E0D;
  --red-color-5: #A80F03;

  --black-color-1: #6A7C7F;
  --black-color-2: #475A5C;
  --black-color-3: #293638;
  --black-color-4: #152628;
  --black-color-5: #0A1E21;

  --green1-color-1: #D7F0AC;
  --green1-color-2: #A9CC6B;
  --green1-color-3: #779D34;
  --green1-color-4: #4B6E10;
  --green1-color-5: #283F00;

  --green2-color-1: #94CF9F;
  --green2-color-2: #59A967;
  --green2-color-3: #2B823A;
  --green2-color-4: #0D5B1B;
  --green2-color-5: #003409;

   /* Couleurs primaires */
   --primary-color-1: #0070c9;
   --primary-color-2: #0a84ff;
   --primary-color-3: #007aff;
   --primary-color-4: #0056b3;
   --primary-color-5: #002d6e;
 
   /* Couleurs secondaires */
   --secondary-color-1: #34c759;
   --secondary-color-2: #5ac8fa;
   --secondary-color-3: #5fbef4;
   --secondary-color-4: #007aff;
   --secondary-color-5: #0176ff;
 
   /* Couleurs de texte */
   --text-color-dark-1: #000000;
   --text-color-dark-2: #333333;
   --text-color-dark-3: #666666;
   --text-color-dark-4: #999999;
   --text-color-light: #ffffff;
 
   /* Couleurs de fond */
   --background-color-dark: #ffffff;
   --background-color-light: #f4f4f4;
 
   /* Autres couleurs */
   --accent-color-red: #ff3b30;
   --accent-color-orange: #ff9500;
   --accent-color-yellow: #ffcc00;
   --accent-color-green: #4cd964;
   --accent-color-blue: #5ac8fa;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
